<br>
<div class="jumbotron text-center">
  <h1>Blocipedia: Social, Markdown Wikis</h1>
  <p>
      <%= link_to "Enter", wikis_path, class: 'btn btn-info btn-lg active' %>
  </p>
</div>
<br>
<br>

<div class="row text-center">
  <div class="col-md-6">
    <h3>Create as many wikis as you want</h3><br>
    <%= link_to "Free Plan", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %><br>
  </div>
  <div class="col-md-6">
    <h3>Create private wikis</h3><br>
    <%= link_to "Premium Plan", new_charge_path, class: 'btn btn-primary btn-lg btn-block' %> 
  </div>
</div>
