<div class='col-md-6'>
<h1><%= markdown_to_html @wiki.title %></h1>
<p><%= markdown_to_html @wiki.body %></p>

<% if policy(@wiki).edit? %>
<%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
<% end %>



</div>